body, html {
  height: 100%;
 
}
 
 
.login-container {
  display: flex;
  flex-direction: row;
  width:100%;
  height: 100vh;
  
 
}
 
.img-container {
  display: flex;
  height:100vh;
  position: relative;
  
}
 
#login-img {
  display:flex;
  /* flex:60%; */
  width: 100%;
  height:100vh;
 
}
 
#innova-logo {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 20%;
  padding: 5px;
  z-index: 1;
}
.title {
  position: absolute;
  top: 59%;
  left: 45%;
  transform: translate(-68%, -5%);
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  z-index: 1;
}
 
 
.form-container {
  flex: 40%;
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 20px;
}
 
form {
  width: 100%;
  max-width: 400px;
}
 
.form-group {
  margin-bottom: 20px;
}
 
label {
  display: block;
  font-weight: bold;
  padding-bottom: 12px;
}
#login-title{
  text-align: center;
  display: block;
  font-weight: bold;
  
 
}
input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
 
button {
  width: 100%;
  padding: 12px;
  background-color: #4595ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}
.error-message {
  color: red;
  margin-top: 5px;
}