<div class="login-container" >
   
  <div class="img-container">
      <img id="innova-logo" src="assets\innova-logo.png">
      <img id="login-img" src="assets\login-img.png">
     
      <p class="title">EXCELLENCE QUEST</p>
  </div>
  <div class="form-container">
    <form class="form-details" #loginForm="ngForm">
      <h3 id="login-title">Login</h3>
        <div class="form-group">
            <label for="loginEmail">Email address</label>
            <input placeholder="Email address" type="email" id="loginEmail" name="loginEmail"
                [(ngModel)]="loginData.email" #loginEmail="ngModel" required>
        </div>
        <div class="form-group">
            <label for="loginPassword">Password</label>
            <input placeholder="Password" type="password" id="loginPassword" name="loginPassword"
                [(ngModel)]="loginData.password" required>
            <div *ngIf="loginError" class="error-message">{{ loginError }}</div>
        </div>
        <button type="submit" (click)="onSubmit()">Login</button>
    </form>
  </div>

</div>
