<div class="header-container">
  <div class="label">
      <div class="label-name">
          <p> Excellence Quest </p>
      </div>
  </div>

  <div class="innova-logo">
      <div class="logo-i">
          <img src="assets\innova-logo.png" alt="innova logo">
      </div>
  </div>

</div>

<div class="employee-dashboard">
  <div class="home-icon">
      <img src="assets\home.svg" alt="home icon">
  </div>

  <div class="label2">
      <div class="label2-name">
          <!--<a routerLink="kpi">--> <span>Employee dashboard</span>
      </div>
  </div>

  <div class="line">
  </div>
 
</div>
