<div class="header-container">
    <div class="label">
        <p> Excellence Quest </p>
       
    </div>
 
    <div class="innova-logo">
        <div class="logo-i">
            <img src="assets\innova-logo.png" alt="innova logo">
        </div>
    </div>
 
</div>
 
<div class="employee-dashboard">
    <div>
        <img src="assets/home.png"  class="home-icon" alt="home icon">

    </div>
   
    <div class="label2">
        <span></span>
    </div>
 
    <div class="line"></div>
    
</div>
