
.kpi-page {
  width: auto;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
  border-radius: 5px;
  background-color: #FFFFFF;
  margin-left: 1.5%;
  margin-right: 1.6%;
  margin-top: 1%;
 
}
.search-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  border-radius: 5px;
}
.arrow {
  width: 25px;
  height: auto;
  cursor: pointer;
  padding-bottom: 30px;
}
 
.kpi-title {
  margin-left: 10px;
  padding-bottom: 30px;
  font-size: 16px;
  font-style: roboto;
    font-weight:550;
    color:black;
 
}
 
.search-bar {
  flex-grow: 1;
  margin-right: 15%;
  margin-left: 15%;
  padding: 8px;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
 
}
::placeholder{
  padding-left: 25px;
  font-size: 13px;
 
}
 
.search-icon {
  width: 20px;
  height: auto;
 
 
}
 
 .search-suggestions{
 
  background-color: #FFFFFF;
  color: #000000;
  padding: 5px;
  margin-bottom:20%;
  padding-left: 5px;
  padding-bottom: 25px;
  border-bottom: #D9D9D9;
 
}
.search-result{
  position: fixed;
  z-index: 1;
  top: 33%;
  border-radius:5px;
  width: 41%;
  margin-left: 22.4%;
  margin-bottom:20px ;
  height: 100px;
  border: #D9D9D9;
   
 
}
.results-message{
  padding: 10px;
  border-bottom: 1px solid lightgray;
  background-color: #FFFFFF;
}
.no-results-message{
  padding: 10px;
  border-bottom: 1px solid lightgray;
  background-color: #FFFFFF;
}
.suggestion-text{
  background-color: #D9D9D9;
  padding: 5px;
}
 
 
.add-button {
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  background-color: #0155B8;
  color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
 
}
 
.edit-button,.delete-button{
padding: 6px 16px 6px 16px;
border-radius: 4px;
background-color: #0155B8;
color:white;
border: none;
margin:6px;
}
 
table{
    width:100%;
    border-collapse: collapse;
 
}
.tabdiv{
  overflow-y: auto;
}
.tabdiv thead th{
  position:sticky;
  top:0px;
  /* z-index: 1; */
}
th{
   
    background-color: #EDF5FB;
    padding:10px;
    border-collapse: collapse;
    font-family: inter;
    font-weight: 600px;
    font-size: 16px;
    color:#000000;
    text-align: left;
   
   
}
.tabledata, td{
    border-collapse: collapse;
    text-align: left;
    color:#000000;
    font-family: inter;
    font-weight: 300px;
    margin-left: 20px;
     padding: 1% 0% 0.5% 0%;
    font-size: 16px;
    border-bottom: 2px solid #D9D9D9;
  }
 
  .tabledata td{
    border-bottom: 1px solid black;
  }
 
  .tabledata tr:last-child td {
    border-bottom: none;
   
  }
  .kpi-image{
    width: 24px;
    height: 24px;
  }
  td {
    position: relative;
  }
    .kpi-image {
    vertical-align: right;
    margin-right: 10px;
   }
   /* .kpi-text {
    padding-bottom: 100px;
  }    */
  .success-message{
    width: 16%;
    height: 24px;
    padding: 9px 12px 25px 12px;
    border-radius: 5px ;
    text-align: center;
    color:#24AD00;
    background: #BDFFB2;
    border: 0.5px solid #24AD00;
    position:absolute;
    top:10%;
    left:35%;
    z-index: 1;
    display: flex;
 
  }
  .right-symbol{
    width: 20px;
    height: 20px;
    margin-right: 3.7%;
  }
  .wrong-symbol{
    margin-left: 3.8%;
    width:20px;
    height:20px;
  }
  .delete-symbol{
    margin-right: 3.8%;
    width:20px;
    height:20px;
  }
 
  .edit-filter{
    display:flex;
    flex-direction: row;
   
  }
  .edit-save{
    width: 38px;
    height: 38px;
   
 
  }
  .edit-cancel{
    padding: 6px 10px 6px 10px;
    border-radius: 4px;
    background-color: #0155B8;
    color:white;
    border: none;
    margin:6px;
   
  }
  .edit-input-name{
    width:47%;
    padding:8px;
   border-radius: 4px;
   border: 1px ;
   border: 1px solid #D9D9D9;
   color: #000000;
 
 
  }
  .edit-input-description{
    width:96%;
    padding:8px;
    border-radius: 4px;
   border: 1px ;
   border: 1px solid #D9D9D9;
   color: #000000;
 
  }
 
/* @media (max-width: 400px) {
  .search-div {
    flex-direction: row;
    align-items: stretch;
  }
 
  .tabdiv {
    flex: 1;
    overflow-x: auto;
  }
 
 
} */