
    <div class="user-details-container">
      <div class="user-detail">
        <p style="font-size:30px;">{{user_name}}</p>
        <p>{{user_level +' - '+ user_sub_competency}}</p>
      </div>
      <div class="action-container" *ngIf="role == 'Employee'">
        <button class="action-button" (click)="openPopUp()">+ Self Report</button>
      </div>
      <div class="action-container" *ngIf="role== 'Admin'">
        <button class="action-button ">
            View Badges
        </button>&nbsp;
        <button class="action-button " (click)="openKPIPage()">
            View KPIs
        </button>&nbsp;
        <button class="action-button ">
            View Success Criteria
        </button>
      </div>
    </div>
  
  