.container-header {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    width: auto; 
    height: auto;
    padding: 10px;
    margin-left: 2%; 
    margin-right: 2%;
    border-radius: 5px;
    background: #ffffff;
    max-height: 638px; 
    overflow-y: auto;
    top: calc(100% - 120px);
}

.heading {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 1%;
}

.arrow {
    width: 20px;
    height: 20px; 

}

h3 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 23.44px;
    text-align: left;
    color:  #4B4B4B;
}

.mat-accordion {
    display: flex; 
    flex-direction: column; 
    height: 5%;
    margin: 5px;
    border-radius: 4px ;
    border: 1px ;
}

.mat-expansion-panel {
    margin-bottom: 10px; 
}

.mat-expansion-panel-header{
    display: flex; 
    flex-direction: row; 
    align-items: flex-start;
}
.icon1 {
    width: 24px;
    height: 24px;  
    margin-right: 10px;
}

.icon2 {
    width: 24px;
    height: 24px;
    margin-left: auto;
    
}

span {
    height: 24px;
    margin-top: 9px;  
    gap: 0px;
    opacity: 0px;    
}

.success-message{
    display: flex;
    text-align: center; 
    align-items: center;
    width: 226.22px;
    height: 30px;
    padding: 9px 12px 9px 12px;
    border-radius: 5px ;
    text-align: center;
    color:#24AD00;
    background: #BDFFB2;
    border: 0.5px solid #24AD00;
    position:absolute;
    top:10%;
    z-index: 1;
    
}

.wrong-symbol, .delete-symbol{
    padding: 5px;
}


.btn {
    background: #0155B8;
    color: #ffffff;
    border-radius: 4px 4px 4px 4px;
    opacity: 0px;
    margin-right: 10px;
    left: 10px;
}


input[type="text"], select {
    border-radius: 4px;
    border: 1px solid #D9D9D9;
}




