<div class="container-header"> 
    <div class="heading">
        <img class="arrow" src="assets/arrow_back.svg">
        <h3>Success Criteria</h3> 
        <div class="search-bar">
            <input type="search" placeholder="Search Sub-Competency" [(ngModel)]="searchTerm" (input)="filterCOEs()" >
            <div *ngIf="showSuggestions && searchTerm.trim() !== ''">
                <ul class="suggestions">
                    <li *ngFor="let coe of filteredCOEs; let i = index" [class.selected]="selectedCOEIndex === i" (click)="onSuggestionClick(i)">
                        {{ coe }}
                    </li>
                </ul>
            </div>
        </div>       
    </div>

    <div class="coe-container" *ngFor="let coe of filteredCOEs">
        <img class="icon" src="assets/manage_accounts.svg"> 
        <p>{{ coe }}</p>
        <a style="cursor: pointer;"><img class="icon1" src="assets/expand.svg" (click)="navigateSuccess(coe)"></a>
    </div> 
</div>


