.container-header {
    display: flex;
    flex-direction: column;
    width: auto; 
    height: 60%;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background: #ffffff;
    max-height: 538px; 
    overflow-y:auto;
    top: calc(100% -120px);
}

.coe-container{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center; 
    padding: 5px;
    margin-bottom: 1%;
}

.heading {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center; 
    justify-content: left;
    padding: 5px;
    margin-bottom: 1%;
    
}

.search-bar {
    width: 30%; 
    height: 45px;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    background: #fff;
}

.arrow {
    width: 24px;
    height: 24px; 
    margin: 1%;
}

h3 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    color:  #4B4B4B;
}

.search-bar input[type="search"]::-webkit-search-cancel-button {
    background-color: #000000; 
    color: #000000; 
}

.search-bar input[type="search"] {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
}

ul.suggestions {
    display: flex;
    flex-direction: column;
    position: absolute;
    list-style-type: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 5px;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 29%; 
}
 
ul.suggestions li {
    padding: 10px;
    cursor: pointer;
}

.coe-container {
    display: flex;
    flex-direction: row; 
    position: relative;
    width: 100%; 
    height: 45px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
}

.icon {
    width: 24px;
    height: 24px;
    margin: 1%;
    color: #4B4B4B;
}

p {
    color: #000000;
    margin-right: auto;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 1%;
    text-align: left;
}

.icon1 {
    width: 24px;
    height: 24px;
}

