.title{
  font-family: Inter;
font-size: 16px;
font-weight: 500px;
color: #000000;
text-align: center;
margin: 0;


}






.dialog-actions {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
  }
  
  .dialog-actions button {
    margin-left: 8px; /* Add spacing between buttons */
  }
  .cancelbutton:focus{
    color:#0155B8;
    border: 1px solid #0155B8;
    padding: 6px 16px 6px 16px;
    gap: 4px;
    border-radius: 4px ;
    opacity: 0px;
    font-size: 13px;

    
  }
 
  .deletebutton:active,
  .deletebutton:focus,
  .deletebutton:hover {
    background-color: #0155B8; 
    color:white;/* Change background color when button is clicked or hovered */
    padding: 6px 16px 6px 16px;
  }