.title{
  font-family: Inter;
font-size: 16px;
font-weight: 500px;
color: #000000;
text-align: center;
margin: 0;


}

.dialog-actions {
    display: flex;
    justify-content: center; 
  }
  
  .dialog-actions button {
     margin-left: 8px;  
    display: flex;
    
  }
  .cancelbutton:focus{
    color:#0155B8;
    border: 1px solid #0155B8;
    background-color: white;
    padding: 6px 16px 6px 16px;
    border-radius: 4px ;
    font-size: 13px;

  }
 
  .deletebutton:active,
  .deletebutton:focus,
  .deletebutton:hover {
    background-color: #0155B8; 
    color:white;
    padding: 6px 16px 6px 16px;
  }