.container {
  display: flex;
   align-items: flex-start; 
   margin:20px auto; 
  width: calc(100% - 120px);
  background-color: white;
  margin-left: 60px;
  position: relative;
  overflow-x: hidden;
}

.box {
  /* background-color: white; */
  padding: 15px;
  border-radius: 10px;
  margin: 10px 5px;
  position: relative;
  flex: 0 0 auto; 
  display: flex;
  flex-direction: column;
  min-height: 130px; 
}

.kpi-name {
  font-size: 18px;
  color: blue;
  flex: 1; 
}

.badges {
  flex: 1; 
  white-space: normal; 
}

.trophy-icon {
  position: absolute;
  right: 20px;
}

.slider {
  height: 20px;
  position: absolute;
  right: 5px; 
  top: 50%; 
  transform: translateY(-50%); 
}
.level {
  color: white;
  line-height: 40px;
  flex: 1; 
  overflow: hidden; }

.level b {
  font-weight: bold;
}
.box {
    height: auto; 
  }

.text-left,.badges,.level {
    font-size: 14px;
  }


