.container {
  display: flex !important;
  align-items: center !important;
  /* height: 30vh; */
  margin: 15px auto; 
  padding: 10px 0; 
  flex-wrap: nowrap; 
  width: calc(100% - 120px); 
  max-width: 1350px; 
  overflow-x: auto; 
  background-color: white;
  margin-left: 60px;
  position: relative;
  overflow-x: hidden;
}
 
.box {
  background-color: white;
  padding: 18px;
  border-radius: 10px;
  margin: 10px 5px;
  position: relative;
}

.text-left {
  text-align: left;
  font-size: 18px; 
  color: blue;
  line-height: 16px; 
  height: 12px;
}
 
.badges {
  font-size: 14px; 
  line-height: 20px; 
}
 
.trophy-icon {
  position: absolute;
  right: 20px;
}
 
.slider {
  height: 20px;
  cursor: pointer;
}
.level {
  color: white;
  font-size: 23px; 
  line-height: 40px; 
}

.level b {
  font-weight: bold;
}
