<div class="heading">
  <h2>KPI's</h2>
</div>

<div class="container-1">
  <div class="kpi-container">
    <div class="container">
      <div class="progress-item">
        <p class="progress-label">Interviews</p>
        <div class="progress-indicator">
          <div class="progress-bar" style="width: 50%;"></div>
          <span>2</span>
        </div>
      </div>

      <div class="progress-item">
        <p class="progress-label">Tech Talk</p>
        <div class="progress-indicator">
          <div class="progress-bar" style="width: 25%;"></div>
          <span>1</span>
        </div>
      </div>

      <div class="progress-item">
        <p class="progress-label">RFPs</p>
        <div class="progress-indicator">
          <div class="progress-bar" style="width: 50%;"></div>
          <span>2</span>
        </div>
      </div>

      <div class="progress-item">
        <p class="progress-label">White Papers</p>
        <div class="progress-indicator">
          <div class="progress-bar" style="width: 75%;"></div>
          <span>3</span>
        </div>
      </div>
      <div class="progress-item">
        <p class="progress-label">Case studies</p>
        <div class="progress-indicator">
          <div class="progress-bar" style="width: 25%;"></div>
          <span>1</span>
        </div>
      </div>
    </div>
  </div>
</div>
