.heading {
  position: absolute;
  left: 60px;
  top: 52%; 
  width: auto;
  margin-bottom: 10px;
}

.container-1 {
  position: absolute;
  left: 60px;
  top: 57%; 
  width: 35%; 
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  overflow-y: auto; 
  height: 270px; 
}

.progress-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.progress-label {
  flex: 0 0 30%;
  margin-right: 10px;
}

.progress-indicator {
  display: flex;
  align-items: center;
  flex: 1;
}

.progress-bar {
  height: 20px;
  background: linear-gradient(to right, #3E8ED2, #3E8ED2);
}

.progress-indicator span {
  margin-left: 10px;
}

@media (max-width: 1024px) {
.container-1 {
    width: 15%; 
  }
}
@media (max-width: 1440px) {
  .container-1 {
      width: 30%; 
    }
  }

@media (max-width: 768px) {
.container-1 {
    width: 25%; 
    height: 180px; 
  }

.progress-item {
    flex-direction: column;
  }

.progress-label,.progress-indicator {
    width: 100%;
  }

.progress-indicator {
    flex-direction: row;
  }
}
