  <app-header></app-header>
  <!-- <app-admin-dashboard></app-admin-dashboard> -->
  <router-outlet></router-outlet>
  <app-footer></app-footer>

<header>
  <app-header></app-header>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <user-details></user-details>
    </div>
    <div class="col-md-8">
      <app-box></app-box>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-kpi-weights></app-kpi-weights>
    </div>
    <div class="col-md-6">
      <app-top-scorer></app-top-scorer>
    </div>
  </div>
</div>

<footer>
  <app-footer></app-footer>
</footer>
