<div class="user-details-container">
    <div class="user-detail">
         <p class="user-name" >{{user_name}}</p>
        <p class="user-sub-competency">{{user_level +' - '+ user_sub_competency}}</p> 
        <button class="kpi-view-button" type="submit" (click)="KpiData()">View KPIs</button>
        <button class="badge-button" type="submit" >View Badges</button>
        <button class="success-button" type="submit">View Success Criteria</button>

    </div>
    
    <!-- <div class="self-report-button-container">
        <button class="self-report-button" (click)="openPopUp()">
            + Self Report
        </button>
    </div> -->
<!-- <div>
    <button class="kpi-list-button" type="submit" (click)="KpiData()">View KPIs</button>
</div> -->
</div>
