
.heading{
  padding:10px;
  position:absolute;
  right: 50%;
  top:50%; 
}
.main{
 border-radius: 5px;
  background-color:white;
  padding:20px;
  position: absolute;
  width:55%;
  top: 57%;
  /* top: calc(100% -400px); */
  right: 55px;
  margin-bottom:10px ;
  height: 270px;
}

.filter {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px; 
}
table{
  width:90%;
  
}
.tabledata th {
  background-color: #EDF5FB; 
}
.tabledata, td{
  border-collapse: collapse;
  text-align: left;
 
  margin-left: 8px;
  padding: 5px 0px 9px 0px;
  font-size: 16px;
  color:#000000;
 
 
}

.tabledata td{
  border-bottom: 1px solid #D9D9D9;
}

.tabledata tr:last-child td {
  border-bottom: none;
 
}
#coin{
  width:18px;
}