
   
 <div class="heading">
    <h2>Top Scorers</h2>
</div>
    <div class="main">
        
        <div class="filter">

            <select (change)="handleFilterChange($event)">
                <option [value]="'all'" [selected]="activeCategory === 'all'">All</option>
                <option [value]="'interviews'" [selected]="activeCategory === 'interviews'">Interviews</option>
                <option [value]="'techtalks'" [selected]="activeCategory === 'techtalks'">TechTalks</option>
                <option [value]="'rfps'" [selected]="activeCategory === 'rfps'">RFPs</option>
                <option [value]="'whitepapers'" [selected]="activeCategory === 'whitepapers'">Whitepapers</option>
                <option [value]="'casestudies'" [selected]="activeCategory === 'casestudies'">CaseStudies</option>
            </select>
        </div>
 
        <div class="tabdiv" *ngIf="tableData.length > 0">
            <table class="tabledata">
                <tr>
                    <th>Name</th>
                    <th>Sub Competency</th>
                    <th>Score</th>
                </tr>
                <tr *ngFor="let row of tableData">
                    <td>{{ row.col1 }}</td>
                    <td>{{ row.col2 }}</td>
                    <td><img id="coin" src="assets\coin1.svg">{{ row.col3 }}</td>
                </tr>
            </table>
        </div>
    </div>